@model Repairis.Brands.Dto.BrandFullEntityDto

@{
    ViewBag.Title = L("DeleteBrand");
}
<div>
    <a asp-action="Index">@L("BackToList")</a>
</div>
<h3>@Model.BrandName</h3>
<p>@L("DeleteBrandConfirmation")</p>

<form asp-action="Delete" method="post">
    <input type="submit" value="@L("Delete")" class="btn btn-default" />
</form>