@model Repairis.Orders.Dto.CreateOrderInput
@{
    ViewBag.Title = "Create";
}
<div>
    <a asp-action="Index">@L("BackToList")</a>
</div>
<h3>Create new order</h3>
<hr />
<form asp-controller="Orders" asp-action="Create" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Device Model:</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="Device.DeviceCategoryName" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Device.DeviceCategoryName" class="form-control" />
                        <span asp-validation-for="Device.DeviceCategoryName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Device.BrandName" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Device.BrandName" class="form-control" />
                        <span asp-validation-for="Device.BrandName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Device.DeviceModelName" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Device.DeviceModelName" class="form-control" />
                        <span asp-validation-for="Device.DeviceModelName" class="text-danger"></span>
                    </div>
                </div>              
                <div class="form-group">
                    <label asp-for="Device.SerialNumber" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Device.SerialNumber" class="form-control" />
                        <span asp-validation-for="Device.SerialNumber" class="text-danger"></span>
                    </div>
                </div>    
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Additional Equipment and issues:</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="AdditionalEquipment" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="AdditionalEquipment" class="form-control" />
                        <span asp-validation-for="AdditionalEquipment" class="text-danger"></span>
                    </div>
                </div>  
                <div class="form-group">
                    <label asp-for="IssueDescription" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="IssueDescription" class="form-control" />
                        <span asp-validation-for="IssueDescription" class="text-danger"></span>
                    </div>
                </div>  
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Client:</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="Customer.CustomerType" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <select asp-for="Customer.CustomerType" asp-items="Html.GetEnumSelectList<Repairis.Authorization.Users.CustomerType>()" class="form-control" ></select>
                        <span asp-validation-for="Customer.CustomerType" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label asp-for="Customer.Surname" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.Surname" class="form-control" />
                        <span asp-validation-for="Customer.Surname" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label asp-for="Customer.Name" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.Name" class="form-control" />
                        <span asp-validation-for="Customer.Name" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label asp-for="Customer.FatherName" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.FatherName" class="form-control" />
                        <span asp-validation-for="Customer.FatherName" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label asp-for="Customer.PhoneNumber" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label asp-for="Customer.SecondaryPhoneNumber" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.SecondaryPhoneNumber" class="form-control" />
                        <span asp-validation-for="Customer.SecondaryPhoneNumber" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label asp-for="Customer.EmailAddress" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.EmailAddress" class="form-control" />
                        <span asp-validation-for="Customer.EmailAddress" class="text-danger"></span>
                    </div>
                </div> 
                <div class="form-group">
                    <label asp-for="Customer.Address" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.Address" class="form-control" />
                        <span asp-validation-for="Customer.Address" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Customer.AdditionalInfo" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="Customer.AdditionalInfo" class="form-control" />
                        <span asp-validation-for="Customer.AdditionalInfo" class="text-danger"></span>
                    </div>
                </div> 
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Additional Order Info:</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label asp-for="AdditionalNotes" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <input asp-for="AdditionalNotes" class="form-control" />
                        <span asp-validation-for="AdditionalNotes" class="text-danger"></span>
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsUrgent" /> @L("Urgent")
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsWarrantyComplaint" /> @L("WarrantyComplaint")
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

