@model Repairis.Orders.Order

@{
    ViewBag.Title = "Delete";
}
<div>
    <a asp-action="Index">@L("BackToList")</a>
</div>
<h3>Order #@Model.Id</h3>
<p>Are you sure you want to delete this order?</p>

<form asp-action="Delete" method="post">
    <input type="submit" value="Delete" class="btn btn-default" />
</form>
