@model Repairis.SpareParts.Dto.SparePartBasicEntityDto

@{
    ViewBag.Title = "Delete";
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
<h3>Spare part @Model.BrandName @Model.SparePartName</h3>
<p>Are you sure you want to delete this spare part?</p>
<form asp-action="Delete" method="post">
    <input type="submit" value="Delete" class="btn btn-default" />
</form>
