@model Repairis.DeviceModels.Dto.DeviceModelBasicEntityDto
@inject Repairis.Web.Helpers.IFormHelper FormHelper

<div>
    <a asp-action="Index">Back to List</a>
</div>
<h3>Create new device model</h3>
<hr />
<form asp-controller="DeviceModels" asp-action="Create" method="post">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="BrandName" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="BrandName" asp-items="await FormHelper.GetBrands()" class="form-control" ></select>
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
        </div> 
        <div class="form-group">
            <label asp-for="DeviceCategoryName" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="DeviceCategoryName" asp-items="await FormHelper.GetDeviceCategories()" class="form-control" ></select>
                <span asp-validation-for="DeviceCategoryName" class="text-danger"></span>
            </div>
        </div> 
        <div class="form-group">
            <label asp-for="DeviceModelName" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="DeviceModelName" class="form-control" />
                <span asp-validation-for="DeviceModelName" class="text-danger"></span>
            </div>
        </div> 
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
