@{
    ViewBag.Title = "Salary report";
}

<div class="row">
    <form>
        <div class="col-md-2">
            <div class="form-group">
                <label for="YearSelector">@L("SelectedYear")</label>
                <ej-drop-down-list id="YearSelector" datasource="ViewBag.Years" width="100%" change="updateChartDatasource" selected-index="0">
                </ej-drop-down-list>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="EmployeeSelector">@L("SelectEmployee")</label>
                <ej-drop-down-list id="EmployeeSelector" datasource="ViewBag.Employees" width="100%" action-begin="updateChartDatasource" change="updateChartDatasource" selected-index="0">                  
                    <e-drop-down-list-fields text="FullName" value="Id"  />
                </ej-drop-down-list>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <ej-chart id="chart" is-responsive="true">
            <e-primary-y-axis label-format="UAH {value}"/>            
            <e-chart-series>
                <e-series name="@L("Salary")" x-name="MonthName" y-name="SalaryValue" type="Column">
                    <e-chart-tooltip visible="true"/>
                </e-series>
            </e-chart-series>
        </ej-chart>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        var dataManager = new ej.DataManager({
            url: "/api/EmployeesSalaryReportDatasource"
        });
        $("#chart").ejChart({
            series: [
                {
                    dataSource: dataManager
                }
            ]
        });

        function updateChartDatasource() {
            var chartObj = $("#chart").ejChart("instance");
            var dataManager = new ej.DataManager({
                url: "/api/EmployeesSalaryReportDatasource",
                headers: [
                    {
                        "year": $("#YearSelector").val(),
                        "employeeId": $("#EmployeeSelector").val()
                    }]
            });
            $("#chart").ejChart({
                series: [
                    {
                        dataSource: dataManager
                    }
                ]
            });
            chartObj.redraw();
        }
    </script>
}